<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <title>Node | Express App!</title>

    <!-- <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    /> -->
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
     <script src="/socket.io/socket.io.js"></script>
    <script src="../node_modules/socket.io/client-dist/socket.io.js"></script>
    <script src="/p5.min.js"></script>
    <script src="/dat.gui.min.js"></script>
    <script src="/stats.min.js"></script>
    <script src="/three.js"></script>
    <script src="/kinectron-client.js"></script>
    <script src="/OrbitControls.js"></script>
    <script src="/sketch.js"></script>
    <script src="/drawScript.js"></script>
  </head>
  <body>
    <!--      -->
    <div id="container-three"></div>
    <div id="container-p5"></div>
    <div id="container-text"></div>
  </body>
</html>
