@font-face {
  font-family: 'Roboto Mono';
  src: url("/assets/font.woff") format('woff');
}



body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono';
  overflow: hidden;
}

/* canvas{
   display: block;
   z-index: -1;
} */

h1 {
  font-style: italic;
  color: #373fff;
}

a {
  color: #08f;
}

#container-text {
  /* background-color: rgb(8, 78, 78); */
  position: absolute;
  width: 70%;
  height: 40px;
  /* left: calc(50% - 150px); */
  /* top: calc(50% - 150px); */
  transform: translate(-50%, -50%);
  transform: rotate(-90deg);
  left: 10%;
  top: 45%;
  color: white;
  text-align: center;
  font-size: 30px;
}
